body {
  padding-left: 20px;
  padding-right: 20px;
  background-color: #f4f5f6;
}

section {
  background-color: #fff;
}

ul {
  list-style: none;
}


header {
  margin-bottom: 3px;
}

footer {
  margin-top: 3px;
}

.pre-nav {
  background-color: red;
}
.article-small img,
.latest-news img,
.pre-footer img,
.most-read img {
  max-height: 80px;
  float: left;
}

.opinions img {
  max-height: 50px;
  float: left;
  border-radius: 25px;
}

.latest-news li,
.most-read li {
  margin-bottom: 15px;
  display: block;
  width: 100%;
  overflow: auto;
}


footer {
  background-color: white;
}

.social img {
  max-height: 45px;
}
