body {
  padding-left: 20px;
  padding-right: 20px;
  background-color: #f4f5f6;
}

.pre-nav {
  background-color: red;
}
.article-small img,
.latest-news img {
  max-height: 80px;
  float: left;
}

.opinions img {
  max-height: 50px;
  float: left;
  border-radius: 25px;
}

.main {

}


footer {
  background-color: white;
}

.social img {
  max-height: 45px;
}
